<!doctype html>
<html>
    <head>
        <%- include("./partials/head.ejs") %>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <div class="main">
            <%- include("./partials/main_left.ejs") %>
            <div class="middle d-flex flex-column">
                <div class="ms-5 d-flex w-100">
                    <div class="d-flex flex-column">
                        <p class="heading">ADMIN</p>
                        <p class="mt-4 fs-5">Reports : </p>
                    </div>
                </div>
            </div>
            <table class="ms-5" border="10" cellspacing="10px" cellpadding="5px">
              <tr>
                <th>
                  file name, id
                </th>
                <th>
                  Reason
                </th>
                <th>
                  Delete
                </th>
                <th>
                  Ignore
                </th>
              </tr>

              <% for (const file of files) { %>
                
                <tr>
                  <td><%= file.name  %></td>
                  <td><%= file.report_msg  %></td>
                  <form action="/delete" method="POST">
                    <input type="text" class="d-none text-danger" id="hid" name="hid" value="<%= file._id  %>">
                    <td><input class="btn text-danger" type="submit" value="delete"></td>
                  </form>
                  <form action="/ignore" method="post">
                    <input type="text" class="d-none text-danger" id="hid" name="hid" value="<%= file._id  %>">
                    <td><input class="btn text-primary" type="submit" value="ignore"></td>
                  </form>
                </tr>

              <% } %>
              
              
            </table>
        </div>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
            
    </body>
</html>
